ConsoleApp1/ConsoleApp1/packages.config
ConsoleApp1/ConsoleApp1/Properties/AssemblyInfo.cs
ConsoleApp1/packages/LiteDB.5.0.17/LICENSE
ConsoleApp1/packages/System.Runtime.CompilerServices.Unsafe.4.5.3/THIRD-PARTY-NOTICES.TXT
ConsoleApp1/packages/System.Runtime.CompilerServices.Unsafe.4.5.3/useSharedDesignerContext.txt
ConsoleApp1/packages/System.Threading.Tasks.Extensions.4.5.4/THIRD-PARTY-NOTICES.TXT
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/a687c3b6-c7fc-4a80-8fa7-d25edbba0d02.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/d3bd4c86-aa69-49f3-a0d8-5aa84c269b19.vsidx
